#vcomments .vwrap {
    background-color: var(--background-primary);
    border-radius: .75rem;
    border: none;
    border-color: transparent
}

#vcomments .vwrap .vheader {
    display: grid;
    gap: .5rem
}

#vcomments .vwrap .vheader.item2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
}

#vcomments .vwrap .vheader.item3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
}

#vcomments .vwrap .vheader .vinput {
    background-color: var(--background-secondary);
    border-radius: .5rem;
    border-style: none;
    padding-left: .75rem;
    padding-right: .75rem;
    width: 100%
}

#vcomments .vcards>.vcard {
    background-color: var(--background-primary);
    border-radius: .5rem;
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
    padding-top: 1.5rem;
    transition: var(--trans-ease)
}

#vcomments .vcards>.vcard:hover {
    box-shadow: var(--accent-shadow)
}

#vcomments .vcards .vcard .vimg {
    border: 2px solid var(--text-accent)
}

#vcomments .vcards .vcard .vh {
    border: none
}

#vcomments .vcards .vcard .vh .vmeta .vat {
    color: var(--text-accent);
    opacity: .6;
    transition: var(--trans-ease)
}

#vcomments .vcards .vcard .vh .vmeta .vat:hover {
    opacity: .3
}

#vcomments .vcards .vcard .vquote {
    border: none
}

#vcomments .vcards .vcard .vhead .vnick {
    color: var(--text-accent);
    font-weight: 700
}

#vcomments .vbtn {
    background: var(--main-gradient);
    border: none;
    color: #fff
}

#vcomments .vbtn:hover {
    color: #fff;
    opacity: .5
}

#vcomments .vcount .vnum {
    color: var(--text-accent)
}

#vcomments .veditor,
#vcomments .vinput {
    color: var(--text-normal)
}

#vcomments .vicon {
    transition: var(--trans-ease)
}

#vcomments .vicon:hover {
    opacity: .5
}

#vcomments a {
    color: var(--text-sub-accent);
    transition: var(--trans-ease)
}

#vcomments a:hover {
    opacity: .5
}

#vcomments blockquote {
    border-left: .25rem solid var(--bg-accent-55)
}

#vcomments p {
    color: var(--text-normal)
}

#gitalk-container .gt-container .gt-meta {
    border-bottom: 1px solid var(--background-primary)
}

#gitalk-container .gt-container .gt-header-textarea {
    background-color: var(--background-primary)
}

#gitalk-container .gt-container .gt-btn {
    border: none;
    background: var(--main-gradient);
    transition: var(--trans-ease)
}

#gitalk-container .gt-container .gt-btn:hover {
    opacity: .5
}

#gitalk-container .gt-container .gt-btn-preview {
    background: var(--background-secondary);
    color: var(--text-bright);
    opacity: .7
}

#gitalk-container .gt-container .gt-header-controls-tip {
    color: var(--text-bright);
    opacity: .7;
    transition: var(--trans-ease)
}

#gitalk-container .gt-container .gt-header-controls-tip:hover {
    opacity: .5
}

#gitalk-container .gt-container .gt-svg svg {
    fill: var(--text-bright)
}

#gitalk-container .gt-container .gt-popup {
    background: var(--background-secondary);
    border: 1px solid var(--background-primary);
    border-radius: .25rem
}

#gitalk-container .gt-container .gt-copyright {
    border-top: 1px solid var(--background-primary)
}

#gitalk-container .gt-container .gt-link {
    border-bottom: 2px solid var(--text-accent)
}

#gitalk-container .gt-container a {
    color: var(--text-accent);
    transition: var(--trans-ease)
}

#gitalk-container .gt-container a.is--active {
    color: var(--text-bright)
}

#gitalk-container .gt-container a.is--active:before {
    background: var(--text-accent)
}

#gitalk-container .gt-container a:hover {
    opacity: .5
}

#gitalk-container .gt-container .gt-comment-admin .gt-comment-content {
    background-color: var(--background-primary);
    box-shadow: var(--accent-shadow)
}

#gitalk-container .gt-container .gt-comment-admin .gt-comment-content:hover {
    box-shadow: var(--accent-shadow)
}

#gitalk-container .gt-container .gt-comment-admin .gt-comment-content a {
    color: var(--text-accent)
}

#gitalk-container .gt-container .gt-comment-admin .gt-comment-content .gt-comment-body.markdown-body blockquote {
    border-left: .25em solid var(--bg-accent-55)
}

#gitalk-container .gt-container .gt-comment-admin .gt-comment-content .gt-comment-body.markdown-body pre {
    background-color: var(--background-secondary)
}

#gitalk-container .gt-container .gt-comment-content {
    background-color: var(--background-primary);
    border-radius: 5px
}

#gitalk-container .gt-container .gt-comment-content:hover {
    box-shadow: var(--sub-accent-shadow)
}

#gitalk-container .gt-container .gt-comment-content a {
    color: var(--text-sub-accent)
}

#gitalk-container .gt-container .gt-comment-body {
    color: var(--text-normal) !important
}

#gitalk-container .gt-container .gt-comment-body.markdown-body blockquote {
    border-left: .25em solid var(--bg-sub-accent-55)
}

:root {
    --background: #fdeff2;
    --comment: #b9cbfa;
    --foreground: #8395a7;
    --selection: #d4dde1;
    --cyan: #57c7ff;
    --green: #5af78e;
    --orange: #ffb86c;
    --pink: #ff6ac1;
    --purple: #ffa3cd;
    --red: #ff5882;
    --yellow: #f3f99d;
    --subs: #3f4144;
    --background-30: rgba(40, 42, 54, 0.2);
    --comment-30: rgba(98, 114, 164, 0.2);
    --foreground-30: rgba(248, 248, 242, 0.2);
    --selection-30: rgba(68, 71, 90, 0.2);
    --cyan-30: rgba(139, 233, 253, 0.2);
    --green-30: rgba(80, 250, 123, 0.2);
    --orange-30: rgba(255, 184, 108, 0.2);
    --pink-30: rgba(255, 121, 198, 0.2);
    --purple-30: rgba(189, 147, 249, 0.2);
    --red-30: rgba(255, 85, 85, 0.2);
    --yellow-30: rgba(241, 250, 140, 0.2);
    --background-40: rgba(40, 42, 54, 0.4);
    --comment-40: rgba(98, 114, 164, 0.4);
    --foreground-40: rgba(248, 248, 242, 0.4);
    --selection-40: rgba(68, 71, 90, 0.4);
    --cyan-40: rgba(139, 233, 253, 0.4);
    --green-40: rgba(80, 250, 123, 0.4);
    --orange-40: rgba(255, 184, 108, 0.4);
    --pink-40: rgba(255, 121, 198, 0.4);
    --purple-40: rgba(189, 147, 249, 0.4);
    --red-40: rgba(255, 85, 85, 0.4);
    --yellow-40: rgba(241, 250, 140, 0.4)
}

pre::-webkit-scrollbar {
    width: .5em;
    height: .5em
}

pre::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0
}

pre::-webkit-scrollbar-thumb {
    background-color: var(--selection);
    border-radius: .5em;
    box-shadow: inset 2px 2px 2px hsl(0deg 0% 100%/25%), inset -2px -2px 2px rgb(0 0 0/25%)
}

code[class*=language-]::-moz-selection,
code[class*=language-] ::-moz-selection,
pre[class*=language-]::-moz-selection,
pre[class*=language-] ::-moz-selection {
    text-shadow: none;
    background-color: var(--selection)
}

code[class*=language-]::selection,
code[class*=language-] ::selection,
pre[class*=language-]::selection,
pre[class*=language-] ::selection {
    text-shadow: none;
    background-color: var(--selection)
}

pre.line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber
}

pre.line-numbers>code {
    position: relative;
    white-space: inherit
}

.line-numbers .line-numbers-rows {
    display: none;
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em;
    letter-spacing: -1px;
    border-right: 1px solid #999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.line-numbers-rows>span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber
}

.line-numbers-rows>span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: .8em;
    text-align: right
}

div.code-toolbar {
    position: relative
}

div.code-toolbar>.toolbar {
    position: absolute;
    top: .3em;
    right: .2em;
    transition: opacity .3s ease-in-out;
    opacity: 0
}

div.code-toolbar:hover>.toolbar {
    opacity: 1
}

div.code-toolbar>.toolbar .toolbar-item {
    display: inline-block;
    padding-top: 10px;
    padding-right: 20px
}

div.code-toolbar>.toolbar a {
    cursor: pointer
}

div.code-toolbar>.toolbar button {
    background: 0 0;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

div.code-toolbar>.toolbar a,
div.code-toolbar>.toolbar button,
div.code-toolbar>.toolbar span {
    color: var(--foreground);
    font-size: .8em;
    padding: .5em;
    background: var(--comment);
    border-radius: .5em
}

div.code-toolbar>.toolbar a:focus,
div.code-toolbar>.toolbar a:hover,
div.code-toolbar>.toolbar button:focus,
div.code-toolbar>.toolbar button:hover,
div.code-toolbar>.toolbar span:focus,
div.code-toolbar>.toolbar span:hover {
    color: #fff;
    text-decoration: none;
    opacity: .5;
    background-color: var(--purple)
}

@media print {

    code[class*=language-],
    pre[class*=language-] {
        text-shadow: none
    }
}

code[class*=language-],
pre[class*=language-] {
    color: var(--foreground) !important;
    background: var(--background);
    text-shadow: none;
    font-family: PT Mono, Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none
}

pre[class*=language-] {
    border-radius: .5em;
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    height: auto
}

:not(pre)>code[class*=language-],
pre[class*=language-] {
    background: var(--background)
}

:not(pre)>code[class*=language-] {
    padding: 4px 7px;
    border-radius: .3em;
    white-space: normal
}

.limit-300 {
    height: 300px !important;
    height: 400px !important
}

.limit-500 {
    height: 500px !important
}

.limit-600 {
    height: 600px !important
}

.limit-700 {
    height: 700px !important
}

.limit-800 {
    height: 800px !important
}

.language-css {
    color: var(--purple)
}

.language-css .token,
.token {
    color: var(--pink)
}

.token.script {
    color: var(--foreground)
}

.token.bold {
    font-weight: 700
}

.token.italic {
    font-style: italic
}

.token.atrule,
.token.attr-name,
.token.attr-value {
    color: var(--cyan)
}

.token.attr-value .token.punctuation,
.token.attr-value .token.punctuation.attr-equals {
    color: var(--subs) !important
}

.language-css .token.atrule {
    color: var(--cyan)
}

.language-html .token.attr-value,
.language-markup .token.attr-value {
    color: var(--foreground)
}

.token.boolean {
    color: var(--purple)
}

.token.builtin,
.token.class-name {
    color: var(--cyan)
}

.token.comment {
    color: var(--comment)
}

.token.constant {
    color: var(--purple)
}

.language-javascript .token.constant {
    color: var(--foreground);
    font-style: italic
}

.language-css .token.entity,
.token.entity {
    color: var(--pink)
}

.language-html .token.entity.named-entity {
    color: var(--purple)
}

.language-html .token.entity:not(.named-entity) {
    color: var(--pink)
}

.language-markup .token.entity.named-entity {
    color: var(--purple)
}

.language-markup .token.entity:not(.named-entity) {
    color: var(--pink)
}

.token.function {
    color: var(--purple)
}

.language-css .token.function,
.token.important,
.token.keyword {
    color: var(--pink)
}

.token.prolog {
    color: var(--foreground)
}

.language-css .token.property,
.token.property {
    color: var(--cyan)
}

.language-css .token.punctuation,
.language-html .token.punctuation,
.language-markup .token.punctuation,
.token.punctuation {
    color: var(--subs)
}

.token.selector {
    color: var(--pink)
}

.language-css .token.selector {
    color: var(--purple)
}

.token.regex {
    color: var(--pink)
}

.language-css .token.rule:not(.atrule) {
    color: var(--foreground)
}

.token.string {
    color: var(--foreground) !important;
    background: none !important
}

.token.tag {
    color: var(--purple)
}

.token.tag .token.punctuation {
    color: var(--pink)
}

.token.url {
    color: var(--cyan)
}

.language-css .token.url {
    color: var(--foreground);
    background: none !important
}

.token.variable {
    color: var(--comment)
}

.token.number {
    color: var(--cyan)
}

.token.operator {
    color: var(--pink);
    background: transparent
}

.token.char {
    color: var(--foreground)
}

.token.symbol {
    color: var(--pink)
}

.token.deleted {
    color: var(--red)
}

.token.namespace,
.token.parameter {
    color: var(--cyan)
}

.highlight-line {
    color: inherit;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    padding: 2px 10px
}

.highlight-line:empty:before {
    content: " "
}

.highlight-line:not(:last-child) {
    min-width: 100%
}

.highlight-line .highlight-line:not(:last-child) {
    min-width: 0
}

.highlight-line-isdir {
    color: var(--foreground);
    background-color: var(--selection-30)
}

.highlight-line-active {
    background-color: var(--comment-30)
}

.highlight-line-add {
    background-color: var(--green-30)
}

.highlight-line-remove {
    background-color: var(--red-30)
}